<!DOCTYPE html>
<html>

<head>
    {{ partial "head.html" . }}
    <title>{{ .Title | markdownify }}</title>
</head>

<body>
    {{ with .Site.Params.videoBackground }}
        <video class="video" autoplay muted preload loop playsinline>
            {{ range .sources }}
                <source
                    src="{{ .source }}"
                    type="{{ .type }}"
                    poster="{{ .poster }}" />
            {{ end }}
        </video>
        {{ with .overlay }}
            <div id="overlay" style="background: {{ . | safeCSS }};"></div>
        {{ end }}
    {{ end }}

    <nav role="navigation" class="flex-container" id="splash">

        <h1>Welcome to <b><code>hayjay.us</code></b>! 👋</h1>
        <h3>Hayley + AJ 💟</h3>
        <br><br>
        {{ if .Site.Params.mainMenu }}
        {{ range .Site.Params.mainMenu }}
            <a href="{{.link}}" class="big-link">
                {{.text}}
            </a>
            <p><i>{{.detail}}</i></p>
            <br>
        {{ end }}

        {{ else }}
        {{ range .Site.Sections }}
            <a href="{{.RelPermalink}}" class="big-link">
                {{.Title | markdownify}}
            </a>
        {{ end }}
        {{ end }}

    </nav>
</body>

</html>
